.wafixed {
    font-size: 1.8rem;
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index: 999;
  }

  #myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 35px;
    /* Place the button at the bottom of the page */
    right: 40px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #198754;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 8px;
    /* Some padding */
    border-radius: 3px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
  }

  #myBtn:hover {
    background-color: blueviolet;
    /* Add a dark-grey background on hover */
  }

/* BACK TO TOP */
#btn-back-to-top {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
}
